html, body {
  background-color: rgb(30, 44, 63);
  color: rgb(83, 169, 215);
  font-size: 25px;
  text-align: center;
}

img {
  width: 43px;
  height: 43px;
}

.play {
  color: rgb(46, 211, 126);
}

.dice:hover, .holds:hover, .play:hover, #reroll:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.canvas-container {
  margin: 0 auto;
}

#board {
  border-color: rgb(83, 169, 215);
  border-style: solid;
}

#reroll {
  color: rgb(46, 211, 126);
}